.footer {
    width: 100%;
    min-height: 30rem;
    background: $gray;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:5rem;    
    }

    &__box {
       min-width:20%;
    }

    &__box-title,
    &__box-info,
    &__blox-link {
        width: 100%;
        display: block; 
        @include footer-box-styles;
    }
        
    &__list-item,
    &__box-link {
        list-style: none;
        text-decoration: none;
        @include footer-box-styles;
            &:hover{
            opacity: 0.6;
            }
    }

    &__image-logo {
        margin-bottom: 2rem;
    }

}