.slider {
    width: 100%;
    margin-top: 3rem;

    &__header {
        @include sections-headers-styles;
    }

    &__header-title {
        @include sections-titles;
    }

    &__header-separator {
        @include sections-titles-separators;
    }

    &__items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__item-name {
        width: 80%;
        color: $secondgray;
        font-size: 1.6rem;
        font-weight: lighter;
    }

    &__item-price {
        width: 20%;
        text-align: right;
        color: $secondgray;
        font-size: 1.6rem;
        font-weight: lighter;
    }

    &__item-stars {
        color: $secondgray;
        font-size: 1.6rem;
        font-weight: lighter;
    }

    &__item-single-star {
        color: yellow;
    }
}

.fa-star {
    color:gold;
}